@media (min-width: 768px) {

    #menuBtn {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        margin: 0 1rem;
    }

    #courses {
        grid-template-columns: repeat(3, 1fr);
    }
    
}
